In [1]:
import sqlite3
import json
from datetime import datetime
import time

In [2]:
timeframe = '2011-07'
sql_transaction = []
start_row = 0
cleanup = 1000000

connection = sqlite3.connect('{}.db'.format(timeframe))
c = connection.cursor()

In [3]:
def create_table():
    c.execute("CREATE TABLE IF NOT EXISTS parent_reply(parent_id TEXT PRIMARY KEY, comment_id TEXT UNIQUE, parent TEXT, comment TEXT, subreddit TEXT, unix INT, score INT)")

In [4]:
def transaction_bldr(sql):
    global sql_transaction
    sql_transaction.append(sql)
    if len(sql_transaction) > 1000:
#         print(sql_transaction)
        c.execute('BEGIN TRANSACTION')
        for s in sql_transaction:
            try:
                c.execute(s)
            except:
                pass
        connection.commit()
        sql_transaction = []

In [5]:
def format_data(data):
    data = data.replace("\n"," newlinechar ").replace("\r"," newlinecharacter ").replace("'",'"')
    return data

In [6]:
def find_parent(pid):
    try:
        sql = "SELECT comment FROM parent_reply WHERE comment_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: return False
    except Exception as e:
        #print(str(e))
        return False

In [7]:
def find_existing_score(pid):
    try:
        sql = "SELECT score FROM parent_reply WHERE parent_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: return False
    except Exception as e:
        #print(str(e))
        return False

In [8]:
def acceptable(data):
    if len(data.split(' ')) > 50 or len(data) < 1:
        return False
    elif len(data) > 1000:
        return False
    elif data == '[deleted]':
        return False
    elif data == '[removed]':
        return False
    else:
        return True

In [9]:
def sql_insert_replace_comment(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """UPDATE parent_reply SET parent_id = ?, comment_id = ?, parent = ?, comment = ?, subreddit = ?, unix = ?, score = ? WHERE parent_id =?;""".format(parentid, commentid, parent, comment, subreddit, int(time), score, parentid)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))

def sql_insert_has_parent(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, parent, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}","{}",{},{});""".format(parentid, commentid, parent, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))


def sql_insert_no_parent(commentid,parentid,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}",{},{});""".format(parentid, commentid, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))

In [ ]:
if __name__ == "__main__":
    create_table()
    row_counter = 0
    paired_rows = 0
    
    with open('RC_{}'.format(timeframe), buffering=1000) as f:
        for row in f:
            row_counter += 1
            
            row = json.loads(row)
            parent_id = row['parent_id']
            body = format_data(row['body'])
            created_utc = row['created_utc']
            score = row['score']
            comment_id = row['name']
            subreddit = row['subreddit']
            parent_data = find_parent(parent_id)
            
            if (score >= 2):
                existing_comment_score = find_existing_score(parent_id)
                if existing_comment_score:
                    if score > existing_comment_score:
                        if acceptable(body):
                            sql_insert_replace_comment(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)

                else:
                    if acceptable(body):
                        if parent_data:
                            sql_insert_has_parent(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                            paired_rows += 1
                        else:
                            sql_insert_no_parent(comment_id,parent_id,body,subreddit,created_utc,score)
                            
            if row_counter % 100000 == 0:
                print('Total Rows Read: {}, Paired Rows: {}, Time: {}'.format(row_counter, paired_rows, str(datetime.now())))

Total Rows Read: 10000, Paired Rows: 31, Time: 2019-01-02 07:27:50.415862
Total Rows Read: 20000, Paired Rows: 92, Time: 2019-01-02 07:27:51.154011
Total Rows Read: 30000, Paired Rows: 175, Time: 2019-01-02 07:27:51.849341
Total Rows Read: 40000, Paired Rows: 246, Time: 2019-01-02 07:27:52.539267
Total Rows Read: 50000, Paired Rows: 323, Time: 2019-01-02 07:27:53.257740
Total Rows Read: 60000, Paired Rows: 435, Time: 2019-01-02 07:27:53.948008
Total Rows Read: 70000, Paired Rows: 538, Time: 2019-01-02 07:27:54.654233
Total Rows Read: 80000, Paired Rows: 642, Time: 2019-01-02 07:27:55.449734
Total Rows Read: 90000, Paired Rows: 735, Time: 2019-01-02 07:27:56.207281
Total Rows Read: 100000, Paired Rows: 839, Time: 2019-01-02 07:27:57.206324
Total Rows Read: 110000, Paired Rows: 941, Time: 2019-01-02 07:27:58.362598
Total Rows Read: 120000, Paired Rows: 1061, Time: 2019-01-02 07:27:59.191548
Total Rows Read: 130000, Paired Rows: 1175, Time: 2019-01-02 07:27:59.931619
Total Rows Read: 140000, Paired Rows: 1278, Time: 2019-01-02 07:28:00.665224
Total Rows Read: 150000, Paired Rows: 1376, Time: 2019-01-02 07:28:01.482274
Total Rows Read: 160000, Paired Rows: 1491, Time: 2019-01-02 07:28:02.387937
Total Rows Read: 170000, Paired Rows: 1599, Time: 2019-01-02 07:28:03.158921
Total Rows Read: 180000, Paired Rows: 1710, Time: 2019-01-02 07:28:03.910765
Total Rows Read: 190000, Paired Rows: 1846, Time: 2019-01-02 07:28:04.626290
Total Rows Read: 200000, Paired Rows: 1962, Time: 2019-01-02 07:28:05.315728
Total Rows Read: 210000, Paired Rows: 2096, Time: 2019-01-02 07:28:06.057063
Total Rows Read: 220000, Paired Rows: 2235, Time: 2019-01-02 07:28:06.841443
Total Rows Read: 230000, Paired Rows: 2367, Time: 2019-01-02 07:28:07.551936
Total Rows Read: 240000, Paired Rows: 2497, Time: 2019-01-02 07:28:08.295264
Total Rows Read: 250000, Paired Rows: 2630, Time: 2019-01-02 07:28:08.971273
Total Rows Read: 260000, Paired Rows: 2767, Time: 2019-01-02 07:28:09.729347
Total Rows Read: 270000, Paired Rows: 2886, Time: 2019-01-02 07:28:10.424065
Total Rows Read: 280000, Paired Rows: 2999, Time: 2019-01-02 07:28:11.086093
Total Rows Read: 290000, Paired Rows: 3128, Time: 2019-01-02 07:28:11.815850
Total Rows Read: 300000, Paired Rows: 3254, Time: 2019-01-02 07:28:12.531686
Total Rows Read: 310000, Paired Rows: 3399, Time: 2019-01-02 07:28:13.213842
Total Rows Read: 320000, Paired Rows: 3601, Time: 2019-01-02 07:28:13.870905
Total Rows Read: 330000, Paired Rows: 3888, Time: 2019-01-02 07:28:14.577025
Total Rows Read: 340000, Paired Rows: 4218, Time: 2019-01-02 07:28:15.444687
Total Rows Read: 350000, Paired Rows: 4505, Time: 2019-01-02 07:28:16.146407
Total Rows Read: 360000, Paired Rows: 4800, Time: 2019-01-02 07:28:16.828067
Total Rows Read: 370000, Paired Rows: 5109, Time: 2019-01-02 07:28:17.514046
Total Rows Read: 380000, Paired Rows: 5420, Time: 2019-01-02 07:28:18.161143
Total Rows Read: 390000, Paired Rows: 5693, Time: 2019-01-02 07:28:18.831621
Total Rows Read: 400000, Paired Rows: 6006, Time: 2019-01-02 07:28:19.490438
Total Rows Read: 410000, Paired Rows: 6310, Time: 2019-01-02 07:28:20.172057
Total Rows Read: 420000, Paired Rows: 6585, Time: 2019-01-02 07:28:20.858381
Total Rows Read: 430000, Paired Rows: 6862, Time: 2019-01-02 07:28:21.731005
Total Rows Read: 440000, Paired Rows: 7183, Time: 2019-01-02 07:28:22.537055
Total Rows Read: 450000, Paired Rows: 7449, Time: 2019-01-02 07:28:23.248470
Total Rows Read: 460000, Paired Rows: 7720, Time: 2019-01-02 07:28:23.965690
Total Rows Read: 470000, Paired Rows: 7998, Time: 2019-01-02 07:28:24.665692
Total Rows Read: 480000, Paired Rows: 8284, Time: 2019-01-02 07:28:25.394718
Total Rows Read: 490000, Paired Rows: 8594, Time: 2019-01-02 07:28:26.114598
Total Rows Read: 500000, Paired Rows: 8919, Time: 2019-01-02 07:28:26.822113
Total Rows Read: 510000, Paired Rows: 9215, Time: 2019-01-02 07:28:27.522759
Total Rows Read: 520000, Paired Rows: 9509, Time: 2019-01-02 07:28:28.204784
Total Rows Read: 530000, Paired Rows: 9857, Time: 2019-01-02 07:28:28.886087
Total Rows Read: 540000, Paired Rows: 10166, Time: 2019-01-02 07:28:29.588558
Total Rows Read: 550000, Paired Rows: 10472, Time: 2019-01-02 07:28:30.273287
Total Rows Read: 560000, Paired Rows: 10802, Time: 2019-01-02 07:28:31.068764
Total Rows Read: 570000, Paired Rows: 11113, Time: 2019-01-02 07:28:31.925570
Total Rows Read: 580000, Paired Rows: 11397, Time: 2019-01-02 07:28:32.707253
Total Rows Read: 590000, Paired Rows: 11737, Time: 2019-01-02 07:28:33.526111
Total Rows Read: 600000, Paired Rows: 12042, Time: 2019-01-02 07:28:34.251191
Total Rows Read: 610000, Paired Rows: 12334, Time: 2019-01-02 07:28:34.985721
Total Rows Read: 620000, Paired Rows: 12639, Time: 2019-01-02 07:28:35.725962
Total Rows Read: 630000, Paired Rows: 12953, Time: 2019-01-02 07:28:36.498015
Total Rows Read: 640000, Paired Rows: 13263, Time: 2019-01-02 07:28:37.202394
Total Rows Read: 650000, Paired Rows: 13580, Time: 2019-01-02 07:28:37.899731
Total Rows Read: 660000, Paired Rows: 13873, Time: 2019-01-02 07:28:38.610092
Total Rows Read: 670000, Paired Rows: 14187, Time: 2019-01-02 07:28:39.338437
Total Rows Read: 680000, Paired Rows: 14384, Time: 2019-01-02 07:28:40.000892
Total Rows Read: 690000, Paired Rows: 14539, Time: 2019-01-02 07:28:40.766626
Total Rows Read: 700000, Paired Rows: 14639, Time: 2019-01-02 07:28:41.495376
Total Rows Read: 710000, Paired Rows: 14728, Time: 2019-01-02 07:28:42.160630
Total Rows Read: 720000, Paired Rows: 14803, Time: 2019-01-02 07:28:42.916458
Total Rows Read: 730000, Paired Rows: 14856, Time: 2019-01-02 07:28:43.604037
Total Rows Read: 740000, Paired Rows: 14910, Time: 2019-01-02 07:28:44.262765
Total Rows Read: 750000, Paired Rows: 14947, Time: 2019-01-02 07:28:44.978009
Total Rows Read: 760000, Paired Rows: 14983, Time: 2019-01-02 07:28:45.661599
Total Rows Read: 770000, Paired Rows: 15009, Time: 2019-01-02 07:28:46.359593
Total Rows Read: 780000, Paired Rows: 15027, Time: 2019-01-02 07:28:47.072083
Total Rows Read: 790000, Paired Rows: 15042, Time: 2019-01-02 07:28:47.813313
Total Rows Read: 800000, Paired Rows: 15057, Time: 2019-01-02 07:28:48.526253
Total Rows Read: 810000, Paired Rows: 15071, Time: 2019-01-02 07:28:49.285850
Total Rows Read: 820000, Paired Rows: 15085, Time: 2019-01-02 07:28:50.035298
Total Rows Read: 830000, Paired Rows: 15090, Time: 2019-01-02 07:28:50.758497
Total Rows Read: 840000, Paired Rows: 15100, Time: 2019-01-02 07:28:51.559689
Total Rows Read: 850000, Paired Rows: 15108, Time: 2019-01-02 07:28:52.390536
Total Rows Read: 860000, Paired Rows: 15112, Time: 2019-01-02 07:28:53.077570
Total Rows Read: 870000, Paired Rows: 15117, Time: 2019-01-02 07:28:53.775613
Total Rows Read: 880000, Paired Rows: 15125, Time: 2019-01-02 07:28:54.502667
Total Rows Read: 890000, Paired Rows: 15133, Time: 2019-01-02 07:28:55.212951
Total Rows Read: 900000, Paired Rows: 15142, Time: 2019-01-02 07:28:55.918467
Total Rows Read: 910000, Paired Rows: 15152, Time: 2019-01-02 07:28:56.687483
Total Rows Read: 920000, Paired Rows: 15159, Time: 2019-01-02 07:28:57.547314
Total Rows Read: 930000, Paired Rows: 15166, Time: 2019-01-02 07:28:58.395024
Total Rows Read: 940000, Paired Rows: 15177, Time: 2019-01-02 07:28:59.089056
Total Rows Read: 950000, Paired Rows: 15178, Time: 2019-01-02 07:28:59.760412
Total Rows Read: 960000, Paired Rows: 15178, Time: 2019-01-02 07:29:00.441485
Total Rows Read: 970000, Paired Rows: 15182, Time: 2019-01-02 07:29:01.069196
Total Rows Read: 980000, Paired Rows: 15183, Time: 2019-01-02 07:29:01.708724
Total Rows Read: 990000, Paired Rows: 15186, Time: 2019-01-02 07:29:02.336866

In [ ]:
import sqlite3
import json
from datetime import datetime
import time

timeframe = '2011-07'
sql_transaction = []
start_row = 0
cleanup = 1000000

connection = sqlite3.connect('{}.db'.format(timeframe))
c = connection.cursor()

def create_table():
    c.execute("CREATE TABLE IF NOT EXISTS parent_reply(parent_id TEXT PRIMARY KEY, comment_id TEXT UNIQUE, parent TEXT, comment TEXT, subreddit TEXT, unix INT, score INT)")

def format_data(data):
    data = data.replace('\n',' newlinechar ').replace('\r',' newlinechar ').replace('"',"'")
    return data

def transaction_bldr(sql):
    global sql_transaction
    sql_transaction.append(sql)
    if len(sql_transaction) > 1000:
        c.execute('BEGIN TRANSACTION')
        for s in sql_transaction:
            try:
                c.execute(s)
            except:
                pass
        connection.commit()
        sql_transaction = []

def sql_insert_replace_comment(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """UPDATE parent_reply SET parent_id = ?, comment_id = ?, parent = ?, comment = ?, subreddit = ?, unix = ?, score = ? WHERE parent_id =?;""".format(parentid, commentid, parent, comment, subreddit, int(time), score, parentid)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))

def sql_insert_has_parent(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, parent, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}","{}",{},{});""".format(parentid, commentid, parent, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))

def sql_insert_no_parent(commentid,parentid,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}",{},{});""".format(parentid, commentid, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))

def acceptable(data):
    if len(data.split(' ')) > 1000 or len(data) < 1:
        return False
    elif len(data) > 32000:
        return False
    elif data == '[deleted]':
        return False
    elif data == '[removed]':
        return False
    else:
        return True

def find_parent(pid):
    try:
        sql = "SELECT comment FROM parent_reply WHERE comment_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: return False
    except Exception as e:
        #print(str(e))
        return False

def find_existing_score(pid):
    try:
        sql = "SELECT score FROM parent_reply WHERE parent_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: return False
    except Exception as e:
        #print(str(e))
        return False
    
if __name__ == '__main__':
    create_table()
    row_counter = 0
    paired_rows = 0

    #with open('J:/chatdata/reddit_data/{}/RC_{}'.format(timeframe.split('-')[0],timeframe), buffering=1000) as f:
    with open('RC_{}'.format(timeframe), buffering=1000) as f:
        for row in f:
            #print(row)
            #time.sleep(555)
            row_counter += 1

            if row_counter > start_row:
                try:
                    row = json.loads(row)
                    parent_id = row['parent_id'].split('_')[1]
                    body = format_data(row['body'])
                    created_utc = row['created_utc']
                    score = row['score']
                    
                    comment_id = row['id']
                    
                    subreddit = row['subreddit']
                    parent_data = find_parent(parent_id)
                    
                    existing_comment_score = find_existing_score(parent_id)
                    if existing_comment_score:
                        if score > existing_comment_score:
                            if acceptable(body):
                                sql_insert_replace_comment(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                                
                    else:
                        if acceptable(body):
                            if parent_data:
                                if score >= 2:
                                    sql_insert_has_parent(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                                    paired_rows += 1
                            else:
                                sql_insert_no_parent(comment_id,parent_id,body,subreddit,created_utc,score)
                except Exception as e:
                    print(str(e))
                            
            if row_counter % 100000 == 0:
                print('Total Rows Read: {}, Paired Rows: {}, Time: {}'.format(row_counter, paired_rows, str(datetime.now())))

            if row_counter > start_row:
                if row_counter % cleanup == 0:
                    print("Cleanin up!")
                    sql = "DELETE FROM parent_reply WHERE parent IS NULL"
                    c.execute(sql)
                    connection.commit()
                    c.execute("VACUUM")
                    connection.commit()